.left-form {
    -fx-background-color: #946161;
}
.manager-button {
    -fx-background-color: #946161;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}
.manager-button:hover {
    -fx-background-color: #8e5353;
}
.emp-button {
    -fx-background-color: #946161;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}
.emp-button:hover {
    -fx-background-color: #8e5353;
}
.admin-button {
    -fx-background-color: #946161;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}
.admin-button:hover {
    -fx-background-color: #8e5353;
}
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color:red;
}